*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #353b48;
    font-family: 'Quicksand', sans-serif;
}
#navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #e84118;
    margin-bottom: 30px;
}
.brand{
    font-size: 1.5rem ;
}

#navigation ul{
    list-style: none;
    background-color: #e84118;
}
#navigation li{
    display: inline;
    margin-left: 20px;
    background-color: #e84118;
}
#navigation a{
    color: white;
    text-decoration: none;
    background-color: #e84118;
}
#navigation a:hover{
    color: red;
    transition: ease-in 100ms;
}
.bird{
    background-image: url(https://images.unsplash.com/photo-1564928227306-b9bb98f7dc6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
    background-position: center;
}
.elephant{
    background-image: url(https://images.unsplash.com/photo-1591870057348-11b133e3c405?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center;
}
.turtle{
    background-image: url(https://images.unsplash.com/photo-1437622368342-7a3d73a34c8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80);
    background-size: cover;
    background-position: center;
}
.fox{
    background-image: url(https://images.unsplash.com/photo-1462953491269-9aff00919695?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
    background-position: center;
}
.toucan{
    background-image: url(https://images.unsplash.com/photo-1550853024-fae8cd4be47f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1014&q=80);
    background-size: cover;
    background-position: center;
}
.puffin{
    background-image: url(https://images.unsplash.com/photo-1490718720478-364a07a997cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80);
    background-size: cover;
    background-position: center;
}
.wasp{
    background-image: url(https://images.unsplash.com/photo-1558992500-0446f0a47538?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
    background-size: cover;
    background-position: center;
}
.frog{
    background-image: url(https://images.unsplash.com/photo-1545006398-2cf47cd87b90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=615&q=80);
    background-size: cover;
    background-position: center;
}
.butterfly{
    background-image: url(https://images.unsplash.com/photo-1535101142951-4ff72ec2566c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center;

}
.tiger{
    background-image: url(https://images.unsplash.com/photo-1503066211613-c17ebc9daef0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center;
}
.fish{
    background-image: url(https://images.unsplash.com/photo-1495594059084-33752639b9c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
    background-size: cover;
    background-position: center;
}
.koala{
    background-image: url(https://images.unsplash.com/photo-1459262838948-3e2de6c1ec80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80);
    background-size: cover;
    background-position: center;
}
.grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 300px;
}
@media screen and (min-width: 600px){
    .vimg{
        grid-row: span 2 / auto;
    }
    .himg{
        grid-column: span 2 / auto;
    }
}